<app-flow-field></app-flow-field>
<app-header></app-header>
<div
  class="fixed top-10 w-full flex flex-row justify-center items-center z-20 scroll-smooth"
>
  <app-navbar class="w-[80%] bg-opacity-100"></app-navbar>
</div>
<div class="flex justify-center items center h-[95%] w-full overflow-x-hidden">
  <div class="w-[80%] flex flex-col justify-around z-10 py-16 3xs:py-2 mt-20">
    <div class="h-[87%]">
      <app-intro class="mb-4"></app-intro>
      <app-skills class="mb-4"></app-skills>
    </div>
  </div>
</div>
