<footer class="w-full h-fit flex flex-row justify-between">
  <div>
    <p class="focusable-item font-thin" (click)="sendEmail()">
      <i class="fa-solid fa-envelope"></i> Escríbeme
    </p>
  </div>
  <div class="flex flex-row justify-between items-center">
    <a
      href="https://github.com/alejoc0314"
      target="_blank"
      appTooltip="GitHub"
      tooltipPosition="bottom"
      class="focusable-item font-thin mx-1"
    >
      <i class="fa-brands fa-github"></i>
    </a>

    <a
      href="https://www.linkedin.com/in/alejoc0314"
      target="_blank"
      appTooltip="LinkedIn"
      tooltipPosition="bottom"
      class="focusable-item font-thin mx-1"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://api.whatsapp.com/send/?phone=3217508199&text&type=phone_number&app_absent=0"
      target="_blank"
      appTooltip="WhatsApp"
      tooltipPosition="bottom"
      class="focusable-item font-thin mx-1"
    >
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
</footer>
